<section>
    <div class="border-bottom pt-4 pb-2 mb-3">
        <h2 style="text-align:center" data-bind="text:displayName"></h2>
    </div>
    <form class="form-inline">
        
            <div class="col"><img src="../../images/I.png" data-bind="click: getPokemonI"  style="height:60px;width:60px" /> </div>
            <div class="col"><img src="../../images/II.png" data-bind="click: getPokemonII"  style="height:60px;width:60px" /> </div>
            <div class="col"><img src="../../images/III.png" data-bind="click: getPokemonIII"  style="height:60px;width:60px" /> </div>
            <div class="col"><img src="../../images/IV.png" data-bind="click: getPokemonIV"  style="height:60px;width:60px" />  </div>
            <div class="col"><img src="../../images/V.png" data-bind="click: getPokemonV" style="height:60px;width:60px" /> </div>
            <div class="col"><img src="../../images/VI.png" data-bind="click: getPokemonVI"  style="height:60px;width:60px" /></div>
            <div class="col"><img src="../../images/VII.png" data-bind="click: getPokemonVII"  style="height:60px;width:60px" /> </div>

       
    </form>
    <div class="row" style="color:white"> .</div>
    <table class="table table-sm">
        <thead>
            <tr>
                <th style="text-align:center" scope="col">ID</th>
                <th style="text-align:center" scope="col">Name</th>
                <th style="text-align:center" scope="col">Sprite</th>
                <th style="text-align:center" scope="col">Details</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: pokemons">
            <tr>
                <td  style="text-align:center;vertical-align:middle" data-bind="text:Id"></td>
                <td  style="text-align:center;vertical-align:middle" data-bind="text:Name"></td>
                <td style="text-align:center;vertical-align:middle">
                    <span class="d-inline-block img-thumbnail text-center mb-2">
                        <img class="m-2" data-bind="attr : { src : 'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/' + Id + '.png', style : 'image-rendering:pixelated ;width: 100px;', title: Name}" onerror="this.src = '/images/pokemon-icon.png'; this.style.width = '128px';" />

                    </span>
                </td>
                <td class="text-center"  style="vertical-align:middle"><a class="btn btn-outline-secondary btn-sm" data-bind="attr: {href:'#pokemonDetails/'+Id }"><i class="fa fa-eye"></i></a></td>
            </tr>
        </tbody>
    </table>
</section>